cranky/cardinality.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="Cardinality">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MandatoryChild" type="xs:string"/>
        <xs:element name="OptionalChild" type="xs:string" minOccurs="0"/>
        <xs:element name="CollectionChild" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
