cranky/simpleAndComplex.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="RootElm">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="String" type="xs:string"/>
        <xs:element name="Int" type="xs:int"/>
        <xs:element name="Complex">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="value" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
